.sidebar {
  flex: 0.35;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 5px;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar__searchInput {
  outline: none;
  border: none;
  color: gray;
  padding: 10px 20px;
  margin-right: auto;
  border-radius: 20px;
  flex: 1;
}

.sidebar__chats {
  flex-direction: column;
  flex: 1;
  height: 75vh;
  overflow: scroll;
  background-color: white;
  border-right: 1px solid lightgray;
}

.sidebar__chats::-webkit-scrollbar {
  display: none;
}
